{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "PIRUS DOCUMENTATION",
        "description": "",
        "contact": {
            "name": "Sandeep Gautam",
            "email": "sandeep@infinitydevelopmententerprise.com",
            "url": "infinitydevelopmententerprise.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "termsOfService": "YOUR_TERMS_OF_SERVICE_URL",
        "x-generation-date": "2024-04-25T10:38:58.130Z"
    },
    "x-strapi-config": {
        "plugins": ["upload", "users-permissions"],
        "path": "/documentation"
    },
    "servers": [{
        "url": "https://admin.pirus.app/api",
        "description": "Development server"
    }],
    "externalDocs": {
        "description": "Find out more",
        "url": "https://docs.strapi.io/developer-docs/latest/getting-started/introduction.html"
    },
    "security": [{
        "bearerAuth": []
    }],
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "schemas": {
            "Error": {
                "type": "object",
                "required": ["error"],
                "properties": {
                    "data": {
                        "nullable": true,
                        "oneOf": [{
                            "type": "object"
                        }, {
                            "type": "array",
                            "items": {
                                "type": "object"
                            }
                        }]
                    },
                    "error": {
                        "type": "object",
                        "properties": {
                            "status": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            },
                            "message": {
                                "type": "string"
                            },
                            "details": {
                                "type": "object"
                            }
                        }
                    }
                }
            },
            "AddressDetailRequest": {
                "type": "object",
                "required": ["data"],
                "properties": {
                    "data": {
                        "required": ["country", "addressLineOne", "city", "province"],
                        "type": "object",
                        "properties": {
                            "addressLabel": {
                                "type": "string"
                            },
                            "AddressType": {
                                "type": "string",
                                "enum": ["Temporary", "Permanent"]
                            },
                            "country": {
                                "type": "string"
                            },
                            "addressLineOne": {
                                "type": "string"
                            },
                            "addressLineTwo": {
                                "type": "string"
                            },
                            "city": {
                                "type": "string"
                            },
                            "province": {
                                "type": "string"
                            },
                            "temp_employee": {
                                "oneOf": [{
                                    "type": "integer"
                                }, {
                                    "type": "string"
                                }],
                                "example": "string or id"
                            },
                            "perma_employee": {
                                "oneOf": [{
                                    "type": "integer"
                                }, {
                                    "type": "string"
                                }],
                                "example": "string or id"
                            }
                        }
                    }
                }
            },
            "AddressDetailListResponseDataItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/AddressDetail"
                    }
                }
            },
            "AddressDetailListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AddressDetailListResponseDataItem"
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "pagination": {
                                "type": "object",
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "pageSize": {
                                        "type": "integer",
                                        "minimum": 25
                                    },
                                    "pageCount": {
                                        "type": "integer",
                                        "maximum": 1
                                    },
                                    "total": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "AddressDetail": {
                "type": "object",
                "required": ["country", "addressLineOne", "city", "province"],
                "properties": {
                    "addressLabel": {
                        "type": "string"
                    },
                    "AddressType": {
                        "type": "string",
                        "enum": ["Temporary", "Permanent"]
                    },
                    "country": {
                        "type": "string"
                    },
                    "addressLineOne": {
                        "type": "string"
                    },
                    "addressLineTwo": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "province": {
                        "type": "string"
                    },
                    "temp_employee": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "number"
                                    },
                                    "attributes": {
                                        "type": "object",
                                        "properties": {
                                            "employeeIdentifier": {
                                                "type": "string"
                                            },
                                            "firstName": {
                                                "type": "string"
                                            },
                                            "middleName": {
                                                "type": "string"
                                            },
                                            "lastName": {
                                                "type": "string"
                                            },
                                            "userName": {
                                                "type": "string"
                                            },
                                            "gender": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "number"
                                                    },
                                                    "genderType": {
                                                        "type": "string",
                                                        "enum": ["Male", "Female", "Others", "Prefer Not to Say"]
                                                    },
                                                    "customGenderType": {
                                                        "type": "string"
                                                    },
                                                    "pronouns": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "dateOfBirth": {
                                                "type": "string",
                                                "format": "date"
                                            },
                                            "bloodGroup": {
                                                "type": "string",
                                                "enum": ["A-Positive", "A-Negative", "B-Positive", "B-Negative", "AB-Positive", "AB-Negative", "O-Positive", "O-Negative"]
                                            },
                                            "maritalStatus": {
                                                "type": "string",
                                                "enum": ["Married", "Unmarried"]
                                            },
                                            "nationality": {
                                                "type": "string"
                                            },
                                            "educationStatus": {
                                                "type": "array",
                                                "items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "number"
                                                        },
                                                        "programName": {
                                                            "type": "string"
                                                        },
                                                        "facultyName": {
                                                            "type": "string"
                                                        },
                                                        "level": {
                                                            "type": "string",
                                                            "enum": ["Plus Two or Equivalent", "Bachelors", "Masters", "MPhil", "PhD"]
                                                        }
                                                    }
                                                }
                                            },
                                            "panNumber": {
                                                "type": "string"
                                            },
                                            "existingMedicalCondition": {
                                                "type": "string"
                                            },
                                            "personal_identification_info": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "citizenshipNumber": {
                                                                        "type": "string"
                                                                    },
                                                                    "nationalIdNumber": {
                                                                        "type": "string"
                                                                    },
                                                                    "citizenshipIssuedProvince": {
                                                                        "type": "string",
                                                                        "enum": ["Koshi (Province 1)", "Madhesh (Province 2)", "Bagmai (Province 3)", "Gandaki (Province 4)", "Lumbini (Province 5)", "Karnali (Province 6)", "Sudurpashchim (Province 7)"]
                                                                    },
                                                                    "citizenshipIssuedDistrict": {
                                                                        "type": "string",
                                                                        "enum": ["Achham", "Arghakhanchi", "Baglung", "Baitadi", "Bajhang", "Bajura", "Banke", "Bara", "Bardiya", "Bhaktapur", "Bhojpur", "Chitwan", "Dadeldhura", "Dailekh", "Dang", "Darchula", "Dhading", "Dhankuta", "Dhanusa", "Dholkha", "Dolpa", "Doti", "Gorkha", "Gulmi", "Humla", "Ilam", "Jajarkot", "Jhapa", "Jumla", "Kailali", "Kalikot", "Kanchanpur", "Kapilvastu", "Kaski", "Kathmandu", "Kavrepalanchok", "Khotang", "Lalitpur", "Lamjung", "Mahottari", "Makwanpur", "Manang", "Morang", "Mugu", "Mustang", "Myagdi", "Nawalparasi", "Nawalpur", "Nuwakot", "Okhaldhunga", "Palpa", "Panchthar", "Parbat", "Parsa", "Pyuthan", "Ramechhap", "Rasuwa", "Rautahat", "Rolpa", "Rukum", "Rukum West", "Rupandehi", "Salyan", "Sankhuwasabha", "Saptari", "Sarlahi", "Sindhuli", "Sindhupalchok", "Siraha", "Solukhumbu", "Sunsari", "Surkhet", "Syangja", "Tanahu", "Taplejung", "Terhathum", "Udayapur"]
                                                                    },
                                                                    "issuedMunicipalRegion": {
                                                                        "type": "string"
                                                                    },
                                                                    "citizenshipIssueDate": {
                                                                        "type": "string",
                                                                        "format": "date"
                                                                    },
                                                                    "citizenshipIssueProvince": {
                                                                        "type": "string",
                                                                        "enum": ["Koshi (Province 1)", "Madhesh (Province 2)", "Bagmai (Province 3)", "Gandaki (Province 4)", "Lumbini (Province 5)", "Karnali (Province 6)", "Sudurpashchim (Province 7)"]
                                                                    },
                                                                    "passportNumber": {
                                                                        "type": "string"
                                                                    },
                                                                    "panNumber": {
                                                                        "type": "string"
                                                                    },
                                                                    "panIssueDistrict": {
                                                                        "type": "string",
                                                                        "enum": ["Achham", "Arghakhanchi", "Baglung", "Baitadi", "Bajhang", "Bajura", "Banke", "Bara", "Bardiya", "Bhaktapur", "Bhojpur", "Chitwan", "Dadeldhura", "Dailekh", "Dang", "Darchula", "Dhading", "Dhankuta", "Dhanusa", "Dholkha", "Dolpa", "Doti", "Gorkha", "Gulmi", "Humla", "Ilam", "Jajarkot", "Jhapa", "Jumla", "Kailali", "Kalikot", "Kanchanpur", "Kapilvastu", "Kaski", "Kathmandu", "Kavrepalanchok", "Khotang", "Lalitpur", "Lamjung", "Mahottari", "Makwanpur", "Manang", "Morang", "Mugu", "Mustang", "Myagdi", "Nawalparasi", "Nawalpur", "Nuwakot", "Okhaldhunga", "Palpa", "Panchthar", "Parbat", "Parsa", "Pyuthan", "Ramechhap", "Rasuwa", "Rautahat", "Rolpa", "Rukum", "Rukum West", "Rupandehi", "Salyan", "Sankhuwasabha", "Saptari", "Sarlahi", "Sindhuli", "Sindhupalchok", "Siraha", "Solukhumbu", "Sunsari", "Surkhet", "Syangja", "Tanahu", "Taplejung", "Terhathum", "Udayapur"]
                                                                    },
                                                                    "panIssueDate": {
                                                                        "type": "string",
                                                                        "format": "date"
                                                                    },
                                                                    "piiRemarks": {
                                                                        "type": "string"
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "publishedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "createdBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {
                                                                                            "firstname": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "lastname": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "username": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "email": {
                                                                                                "type": "string",
                                                                                                "format": "email"
                                                                                            },
                                                                                            "resetPasswordToken": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "registrationToken": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "isActive": {
                                                                                                "type": "boolean"
                                                                                            },
                                                                                            "roles": {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                    "data": {
                                                                                                        "type": "array",
                                                                                                        "items": {
                                                                                                            "type": "object",
                                                                                                            "properties": {
                                                                                                                "id": {
                                                                                                                    "type": "number"
                                                                                                                },
                                                                                                                "attributes": {
                                                                                                                    "type": "object",
                                                                                                                    "properties": {
                                                                                                                        "name": {
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "code": {
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "description": {
                                                                                                                            "type": "string"
                                                                                                                        },
                                                                                                                        "users": {
                                                                                                                            "type": "object",
                                                                                                                            "properties": {
                                                                                                                                "data": {
                                                                                                                                    "type": "array",
                                                                                                                                    "items": {
                                                                                                                                        "type": "object",
                                                                                                                                        "properties": {
                                                                                                                                            "id": {
                                                                                                                                                "type": "number"
                                                                                                                                            },
                                                                                                                                            "attributes": {
                                                                                                                                                "type": "object",
                                                                                                                                                "properties": {}
                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "permissions": {
                                                                                                                            "type": "object",
                                                                                                                            "properties": {
                                                                                                                                "data": {
                                                                                                                                    "type": "array",
                                                                                                                                    "items": {
                                                                                                                                        "type": "object",
                                                                                                                                        "properties": {
                                                                                                                                            "id": {
                                                                                                                                                "type": "number"
                                                                                                                                            },
                                                                                                                                            "attributes": {
                                                                                                                                                "type": "object",
                                                                                                                                                "properties": {
                                                                                                                                                    "action": {
                                                                                                                                                        "type": "string"
                                                                                                                                                    },
                                                                                                                                                    "actionParameters": {},
                                                                                                                                                    "subject": {
                                                                                                                                                        "type": "string"
                                                                                                                                                    },
                                                                                                                                                    "properties": {},
                                                                                                                                                    "conditions": {},
                                                                                                                                                    "role": {
                                                                                                                                                        "type": "object",
                                                                                                                                                        "properties": {
                                                                                                                                                            "data": {
                                                                                                                                                                "type": "object",
                                                                                                                                                                "properties": {
                                                                                                                                                                    "id": {
                                                                                                                                                                        "type": "number"
                                                                                                                                                                    },
                                                                                                                                                                    "attributes": {
                                                                                                                                                                        "type": "object",
                                                                                                                                                                        "properties": {}
                                                                                                                                                                    }
                                                                                                                                                                }
                                                                                                                                                            }
                                                                                                                                                        }
                                                                                                                                                    },
                                                                                                                                                    "createdAt": {
                                                                                                                                                        "type": "string",
                                                                                                                                                        "format": "date-time"
                                                                                                                                                    },
                                                                                                                                                    "updatedAt": {
                                                                                                                                                        "type": "string",
                                                                                                                                                        "format": "date-time"
                                                                                                                                                    },
                                                                                                                                                    "createdBy": {
                                                                                                                                                        "type": "object",
                                                                                                                                                        "properties": {
                                                                                                                                                            "data": {
                                                                                                                                                                "type": "object",
                                                                                                                                                                "properties": {
                                                                                                                                                                    "id": {
                                                                                                                                                                        "type": "number"
                                                                                                                                                                    },
                                                                                                                                                                    "attributes": {
                                                                                                                                                                        "type": "object",
                                                                                                                                                                        "properties": {}
                                                                                                                                                                    }
                                                                                                                                                                }
                                                                                                                                                            }
                                                                                                                                                        }
                                                                                                                                                    },
                                                                                                                                                    "updatedBy": {
                                                                                                                                                        "type": "object",
                                                                                                                                                        "properties": {
                                                                                                                                                            "data": {
                                                                                                                                                                "type": "object",
                                                                                                                                                                "properties": {
                                                                                                                                                                    "id": {
                                                                                                                                                                        "type": "number"
                                                                                                                                                                    },
                                                                                                                                                                    "attributes": {
                                                                                                                                                                        "type": "object",
                                                                                                                                                                        "properties": {}
                                                                                                                                                                    }
                                                                                                                                                                }
                                                                                                                                                            }
                                                                                                                                                        }
                                                                                                                                                    }
                                                                                                                                                }
                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "createdAt": {
                                                                                                                            "type": "string",
                                                                                                                            "format": "date-time"
                                                                                                                        },
                                                                                                                        "updatedAt": {
                                                                                                                            "type": "string",
                                                                                                                            "format": "date-time"
                                                                                                                        },
                                                                                                                        "createdBy": {
                                                                                                                            "type": "object",
                                                                                                                            "properties": {
                                                                                                                                "data": {
                                                                                                                                    "type": "object",
                                                                                                                                    "properties": {
                                                                                                                                        "id": {
                                                                                                                                            "type": "number"
                                                                                                                                        },
                                                                                                                                        "attributes": {
                                                                                                                                            "type": "object",
                                                                                                                                            "properties": {}
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        },
                                                                                                                        "updatedBy": {
                                                                                                                            "type": "object",
                                                                                                                            "properties": {
                                                                                                                                "data": {
                                                                                                                                    "type": "object",
                                                                                                                                    "properties": {
                                                                                                                                        "id": {
                                                                                                                                            "type": "number"
                                                                                                                                        },
                                                                                                                                        "attributes": {
                                                                                                                                            "type": "object",
                                                                                                                                            "properties": {}
                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "blocked": {
                                                                                                "type": "boolean"
                                                                                            },
                                                                                            "preferedLanguage": {
                                                                                                "type": "string"
                                                                                            },
                                                                                            "createdAt": {
                                                                                                "type": "string",
                                                                                                "format": "date-time"
                                                                                            },
                                                                                            "updatedAt": {
                                                                                                "type": "string",
                                                                                                "format": "date-time"
                                                                                            },
                                                                                            "createdBy": {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                    "data": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                            "id": {
                                                                                                                "type": "number"
                                                                                                            },
                                                                                                            "attributes": {
                                                                                                                "type": "object",
                                                                                                                "properties": {}
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            },
                                                                                            "updatedBy": {
                                                                                                "type": "object",
                                                                                                "properties": {
                                                                                                    "data": {
                                                                                                        "type": "object",
                                                                                                        "properties": {
                                                                                                            "id": {
                                                                                                                "type": "number"
                                                                                                            },
                                                                                                            "attributes": {
                                                                                                                "type": "object",
                                                                                                                "properties": {}
                                                                                                            }
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "updatedBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "primary_bank_detail": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "bankAccountNumber": {
                                                                        "type": "string"
                                                                    },
                                                                    "bankAccountLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "bankAccountHolderName": {
                                                                        "type": "string"
                                                                    },
                                                                    "bankName": {
                                                                        "type": "string",
                                                                        "enum": ["Agriculture Development Bank", "Nepal Bank", "Rastriya Banijya Bank", "Citizens Bank International Limited", "Everest Bank", "Global IME Bank Limited", "Himalayan Bank", "Kumari Bank", "Laxmi Sunrise Bank", "Machhapuchhre Bank", "Nabil Bank", "Nepal Investment Mega Bank", "Nepal SBI Bank", "NIC Asia Bank", "NMB Bank", "Prabhu Bank", "Prime Commercial Bank", "Sanima Bank", "Siddhartha Bank", "Standard Chartered Bank"]
                                                                    },
                                                                    "branchName": {
                                                                        "type": "string"
                                                                    },
                                                                    "employee": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "publishedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "createdBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "updatedBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "secondary_bank_detail": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "primaryEmail": {
                                                "type": "string",
                                                "format": "email"
                                            },
                                            "temp_address_detail": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "addressLabel": {
                                                                        "type": "string"
                                                                    },
                                                                    "AddressType": {
                                                                        "type": "string",
                                                                        "enum": ["Temporary", "Permanent"]
                                                                    },
                                                                    "country": {
                                                                        "type": "string"
                                                                    },
                                                                    "addressLineOne": {
                                                                        "type": "string"
                                                                    },
                                                                    "addressLineTwo": {
                                                                        "type": "string"
                                                                    },
                                                                    "city": {
                                                                        "type": "string"
                                                                    },
                                                                    "province": {
                                                                        "type": "string"
                                                                    },
                                                                    "temp_employee": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "perma_employee": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "createdAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "updatedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "publishedAt": {
                                                                        "type": "string",
                                                                        "format": "date-time"
                                                                    },
                                                                    "createdBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    },
                                                                    "updatedBy": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "data": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "id": {
                                                                                        "type": "number"
                                                                                    },
                                                                                    "attributes": {
                                                                                        "type": "object",
                                                                                        "properties": {}
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "perma_address_detail": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "yearly_leave_details": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "number"
                                                                },
                                                                "attributes": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "numberOfAnnualLeaves": {
                                                                            "type": "integer"
                                                                        },
                                                                        "numberOfSickLeaves": {
                                                                            "type": "integer"
                                                                        },
                                                                        "fiscalYear": {
                                                                            "type": "string"
                                                                        },
                                                                        "employee": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "data": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "number"
                                                                                        },
                                                                                        "attributes": {
                                                                                            "type": "object",
                                                                                            "properties": {}
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "takenAnnualLeaves": {
                                                                            "type": "number",
                                                                            "format": "float"
                                                                        },
                                                                        "takenSickLeaves": {
                                                                            "type": "number",
                                                                            "format": "float"
                                                                        },
                                                                        "takenHalfDayLeaves": {
                                                                            "type": "number",
                                                                            "format": "float"
                                                                        },
                                                                        "createdAt": {
                                                                            "type": "string",
                                                                            "format": "date-time"
                                                                        },
                                                                        "updatedAt": {
                                                                            "type": "string",
                                                                            "format": "date-time"
                                                                        },
                                                                        "publishedAt": {
                                                                            "type": "string",
                                                                            "format": "date-time"
                                                                        },
                                                                        "createdBy": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "data": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "number"
                                                                                        },
                                                                                        "attributes": {
                                                                                            "type": "object",
                                                                                            "properties": {}
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        },
                                                                        "updatedBy": {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "data": {
                                                                                    "type": "object",
                                                                                    "properties": {
                                                                                        "id": {
                                                                                            "type": "number"
                                                                                        },
                                                                                        "attributes": {
                                                                                            "type": "object",
                                                                                            "properties": {}
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "createdAt": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "updatedAt": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "publishedAt": {
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "createdBy": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "updatedBy": {
                                                "type": "object",
                                                "properties": {
                                                    "data": {
                                                        "type": "object",
                                                        "properties": {
                                                            "id": {
                                                                "type": "number"
                                                            },
                                                            "attributes": {
                                                                "type": "object",
                                                                "properties": {}
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "perma_employee": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "number"
                                    },
                                    "attributes": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "publishedAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdBy": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "number"
                                    },
                                    "attributes": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    },
                    "updatedBy": {
                        "type": "object",
                        "properties": {
                            "data": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "number"
                                    },
                                    "attributes": {
                                        "type": "object",
                                        "properties": {}
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "AddressDetailResponseDataObject": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/AddressDetail"
                    }
                }
            },
            "AddressDetailResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/AddressDetailResponseDataObject"
                    },
                    "meta": {
                        "type": "object"
                    }
                }
            },
            "AttendanceInfoRequest": {
                "type": "object",
                "required": ["data"],
                "properties": {
                    "data": {
                        "required": ["inTime", "date", "attendanceStatus"],
                        "type": "object",
                        "properties": {
                            "inTime": {
                                "type": "string",
                                "format": "time",
                                "example": "12:54.000"
                            },
                            "outTime": {
                                "type": "string",
                                "format": "time",
                                "example": "12:54.000"
                            },
                            "totalHoursWorked": {
                                "type": "number",
                                "format": "float"
                            },
                            "date": {
                                "type": "string",
                                "format": "date"
                            },
                            "attendanceStatus": {
                                "type": "string",
                                "enum": ["Present", "Absent", "Part Time"]
                            },
                            "didArriveLate": {
                                "type": "boolean"
                            },
                            "didArriveEarly": {
                                "type": "boolean"
                            },
                            "didLeaveEarly": {
                                "type": "boolean"
                            },
                            "didLeaveLate": {
                                "type": "boolean"
                            },
                            "lateArrival": {
                                "type": "string",
                                "format": "time",
                                "example": "12:54.000"
                            },
                            "earlyDeparture": {
                                "type": "string",
                                "format": "time",
                                "example": "12:54.000"
                            },
                            "overtimeHours": {
                                "type": "string",
                                "format": "time",
                                "example": "12:54.000"
                            },
                            "remarks": {
                                "type": "string"
                            },
                            "attendingEmployeeId": {
                                "oneOf": [{
                                    "type": "integer"
                                }, {
                                    "type": "string"
                                }],
                                "example": "string or id"
                            }
                        }
                    }
                }
            },
            "AttendanceInfoListResponseDataItem": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number"
                    },
                    "attributes": {
                        "$ref": "#/components/schemas/AttendanceInfo"
                    }
                }
            },
            "AttendanceInfoListResponse": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AttendanceInfoListResponseDataItem"
                        }
                    },
                    "meta": {
                        "type": "object",
                        "properties": {
                            "pagination": {
                                "type": "object",
                                "properties": {
                                    "page": {
                                        "type": "integer"
                                    },
                                    "pageSize": {
                                        "type": "integer",
                                        "minimum": 25
                                    },
                                    "pageCount": {
                                        "type": "integer",
                                        "maximum": 1
                                    },
                                    "total": {
                                        "type": "integer"
                                    }
                                }
                            }
                        }
                    }
                }
            },
[...]
